{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Hello,</p>
    <p>You're receiving this email because you requested a password reset for your account at {{ site_name }}.</p>
    <p>Please click the following link to reset your password:</p>
    <p><a href="{{ protocol }}://{{ domain }}:8000{% url 'password_reset_confirm' uidb64=uid token=token %}"
        >Reset Password</a></p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Thanks for using our site.</p>
</body>
</html>
