{%load static%}
{%load compress%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Coming Soon</title>
	<meta charset="UTF-8">
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main-comingsoon.css' %}">
	{% endcompress %}
<!--===============================================================================================-->
</head>
<body>
	
	<!--  -->
	<div class="simpleslide100">
		<div class="simpleslide100-item bg-img1" style="background-image: url({% static 'img/bg01.jpg' %});"></div>
	</div>

	<div class="flex-col-c-sb size1 overlay1 p-l-75 p-r-75 p-t-20 p-b-40 p-lr-15-sm">

		<!--  -->
		<div class="flex-col-c-m p-l-15 p-r-15 p-t-80 p-b-90">
			<h3 class="l1-txt2 txt-center p-b-40 respon1">
				Coming Soon
			</h3>
				</a>
			</div>
		</div>
	</div>
</body>
</html>